header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

body {
  background: rgb(17, 75, 206);
  margin: auto;
}

.cat {
  background-color: whitesmoke;
  background-image: url('https://loremflickr.com/500/500/cat');
  background-size: cover;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  outline: 5px mediumseagreen solid;
  outline-offset: -5px;
}

.hold {
  background-color: gainsboro;
}

.hovered {
  background: #eeebeb;
  border-style: dashed;
}

.center {
  margin: auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.grid {
  height: 300px;
  width: 300px;

  background-color: lightyellow;

  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.grid .cat:nth-child(n + 10) {
  display: none;
}

.spawner {
  align-content: center;
  height: 300px;
  width: 300px;

  background-color: lightpink;
}

.spawner .cat {
  height: 300px;
  width: 300px;
}

.hoop {
  height: 300px;
  width: 300px;

  background-color: lightskyblue;
  position: relative;
}

.absolute {
  position: absolute;
}
